@page
@model Golfclubmembership.Pages.ContactusModel
@{
    ViewData["Title"] = "Contact us";
}
<style>
    .banner1{
        width:70%;
        height:30%;
    }

        .banner1 img{
            height:100%;
            width:100%;
        }

    .banner2{
        background-color:rosybrown;
        margin-left:5%;
        margin-right: 5%;
        margin-top: 3%;
        padding:7%;
    }
</style>
<body>
    <section style="display:flex;">
    <section class="banner1">
        <img src="./images/image14.jpg" />
    </section>
    <section class="banner2">
            <p>
                We’re here to help!
                If you didn’t find an answer to your question visit our Help and FAQs page.
                
            </p>
            <p>Contact us at gulfcardsupport@gmail.com</p>
            <p>Address: 125 London, Victoria</p>
    </section>
    </section>
</body>
